@import url("https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Bebas+Neue&family=Butterfly+Kids&family=Raleway:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

h1 {
  font-family: "Titillium Web" sans-serif;
  font-weight: 900;
  font-style: normal;
}

h2 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p,
h3,
h4,
a {
  font-family: "Raleway", sans-serif;
}
